<template name="Home">
    <h3>BizzStream Demo</h3>
    <p>This is a home page</p>

    <p><a href="/schema">Schema</a> tab contains collections of Fields and Layouts</p>
    <p><a href="/documents">Documents</a> tab holds actually a list of Documents</p>

</template>