<template name="DocumentsList">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title"><b>New document</b></h1>
        </div>
        <div class="panel-body">
            {{#if layout}}
                <form class="new-document form-inline" role="form">
                    {{#each layout.header.rows}}
                    <div class="row">
                        {{#each columns}}
                        <div class="form-group col-sm-3">
                            <div class="input-group">
                                <span class="input-group-sm">{{label}}</span>
                                <input class="form-control document-field"
                                       id="{{_id}}"
                                       type="{{type}}"
                                       data-label="{{label}}"
                                       data-name="{{name}}"
                                       maxlength="{{maxLength}}"
                                       required
                                />
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{/each}}
                    <hr>
                    {{#each layout.buttons}}
                        <span>
                            <button type="submit" class="btn btn-primary mb-2">{{this}}</button>
                        </span>
                    {{/each}}
                </form>
            {{/if}}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title"><b>Documents</b></h1>
        </div>

        <div class="panel-body">
            <table class="table table-striped">
                <tbody>
                    {{#each documents}}
                    <tr>
                        <td>{{_id}}</td>
                        {{#each fields}}
                            <td>{{label}}: {{value}}</td>
                        {{/each }}
                        <td>
                            <button class="btn btn-default delete-document">X</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>

    </div>
</template>