<template name="FieldsList">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title"><b>Fields</b></h1>
        </div>
        <div class="panel-body">
            <div class="row row-start-section">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Label</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Max Length</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each fields}}
                            <tr>
                                <td>{{_id}}</td>
                                <td>{{label}}</td>
                                <td>{{name}}</td>
                                <td>{{type}}</td>
                                <td>{{maxLength}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>